openapi: 3.0.0
info:
  title: Behavioral Tracking API
  description: |-
    ## Resource Description

    Our **Behavioral Tracking API** is used to identify and track Person (customer) data with Customer.io. You can add, update, or delete Persons, as well as their devices. You can also use the API to supress and unsupress Persons, or manage events and segments (segments are manually added customers from GUI interface). Data is available in JSON, XML, or HTML format. **Note**: This sample Spotlight file covers the `Behavioral Tracking API` only. `API` and `BETA API` integration with Spotlight will be available soon. <br/>

    ## Authentication
    All requests to the Customer.io API must be authenticated using a Tracking API Key over HTTP Basic Auth.

    To authenticate, provide your Site ID as the username, and your secret API key as the password. You can find these values by visiting the Tracking API Keys page directly, or by clicking the Integrations link in the left-hand menu of your Customer.io account and choosing Customer.io API > Manage API Credentials > Tracking API Keys.
    <!-- theme: danger -->
    > Nothing will work unless you include both your Site ID and your API Key

    <!-- theme: warning -->
    >
    > Because this sample defaults to my personal API keys, be sure to replace my Base64 encoded `Site_ID:API_Key` with your own in the authentiction header **or** replace the authentication header altogether with the following cURL call: <br/>
    > `-u Site_ID:API_Key`

    <br/>**Note**: The `id` parameter is required for all endpoints.
  version: '1.0'
  termsOfService: 'https://customer.io/legal/terms-of-service/'
  contact:
    name: Customer.io
    url: 'https://customer.io/contact/'
    email: support@customer.io.com
  license:
    name: CC Attribution-ShareAlike 4.0 (CC BY-SA 4.0)
    url: 'https://customer.io/pricing/'
servers:
  - url: 'https://track.customer.io/api/v1'
paths:
  '/customers/{id}':
    parameters:
      - schema:
          type: string
          default: '6'
        name: id
        in: path
        required: true
        description: The unique identifier for the customer. **Be sure to replace this value in the "Try It" section.
    put:
      summary: Create or update a Person
      operationId: create-Person
      parameters:
        - schema:
            type: string
            default: application/x-www-form-urlencoded
          in: header
          name: Content-Type
          required: true
          description: This header defines the bodyRequest parameters.
        - schema:
            type: string
            default: Basic MDc4ZjA5YjkyNGMxNTYxYTAwMzA6ZmEyNDY2YWE0NDYyNDBjNDNiMzE=
          in: header
          name: Authorization
          required: true
          description: 'This string is your site_ID:API_key encoded in Base64. For results to appear in your dashboard, be sure to replace the string with your own encoded site_ID:API_key, or replace the authorization header itself with this curl call: `-u site_ID:API_KEY`.'
      description: |-
        Create or update a Person.

        Creating or updating customers via the Behavioral Tracking API accomplishes the same goal as the `identify` method in the Javascript snippet. It allows you to pass attributes of your customers to us which you can then use to personalized your triggered emails or affect the logic of who receives them. 

        <!-- theme: warning -->
        > There is a limit of 300 unique attributes set per identify call.

        ## Updating or removing attributes
        You can also update a customer’s attributes after creating them, using the same `PUT` API call. Don’t worry about sending only the attributes which have changed, our API takes care of that for you.


        > To remove an attribute on an existing customer, set its value to an empty string.
      responses: {}
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  $ref: '#/components/schemas/email'
                created_at:
                  $ref: '#/components/schemas/created_at'
                attributes:
                  $ref: '#/components/schemas/attributes'
              required:
                - email
        description: ''
      tags:
        - Create and Delete a Person
    delete:
      summary: Delete a Person
      operationId: delete-Person
      responses:
        '200':
          description: OK
      description: |-
        Delete a Person. 

        Deleting a Pustomer will remove them, and all their information from Customer.io.

        **Note**: If you’re still sending data to Customer.io via other means (such as the Javascript snippet), the customer could be recreated.
        <!-- theme: danger -->

        >
        > **This action is not available with the Javascript snippet alone.**
      tags:
        - Create and Delete a Person
      parameters:
        - schema:
            type: string
            default: application/x-www-form-urlencoded
          in: header
          name: Content-Type
          required: true
          description: This header defines the bodyRequest parameters.
        - schema:
            type: string
            default: Basic MDc4ZjA5YjkyNGMxNTYxYTAwMzA6ZmEyNDY2YWE0NDYyNDBjNDNiMzE=
          in: header
          name: Authorization
          required: true
          description: 'This string is your site_ID:API_key encoded in Base64. For results to appear in your dashboard, be sure to replace the string with your own encoded site_ID:API_key, or replace the authorization header itself with this curl call: `-u site_ID:API_KEY`.'
  '/customers/{id}/devices':
    parameters:
      - schema:
          type: string
          default: '6'
        name: id
        in: path
        required: true
        description: The unique identifier for the customer. **Be sure to replace this value in the "Try It" section.
    put:
      summary: Create or update a Person's device
      responses: {}
      operationId: put-Persons-id-devices
      description: Create or update a Person's device.
      tags:
        - Create and Delete a Person's Device
      parameters:
        - schema:
            type: string
            default: application/x-www-form-urlencoded
          in: header
          name: Content-Type
          required: true
          description: This header defines the bodyRequest parameters.
        - schema:
            type: string
            default: Basic MDc4ZjA5YjkyNGMxNTYxYTAwMzA6ZmEyNDY2YWE0NDYyNDBjNDNiMzE=
          in: header
          name: Authorization
          required: true
          description: 'This string is your site_ID:API_key encoded in Base64. For results to appear in your dashboard, be sure to replace the string with your own encoded site_ID:API_key, or replace the authorization header itself with this curl call: `-u site_ID:API_KEY`.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                'device[id]':
                  $ref: '#/components/schemas/device_id'
                'device[platform]':
                  $ref: '#/components/schemas/platform'
                'device[last_used]':
                  $ref: '#/components/schemas/last_used'
              required:
                - 'device[id]'
                - 'device[platform]'
        description: To identify mobile devices for use in Push messaging you need to form a `PUT` call to the `devices` endpoint for a given customer.
  '/customers/{id}/devices/{device_id}':
    parameters:
      - schema:
          type: string
          default: '6'
        name: id
        in: path
        required: true
        description: The unique identifier for the customer. **Be sure to replace this value in the "Try It" section.
      - schema:
          type: string
          default: '1'
        name: device_id
        in: path
        required: true
        description: '    The unique token for the user device.'
    delete:
      summary: Delete a Person's device
      operationId: delete-Persons-id-devices
      responses:
        '200':
          description: OK
      description: |-
        Delete's a Persons's device. Deleting a mobile device will remove the device from a customer’s profile in Customer.io.

        <!-- theme: warning -->

        >
        > Note: if you’re still sending data about the device to Customer.io via your integration the device will be recreated.
      parameters:
        - schema:
            type: string
            default: application/x-www-form-urlencoded
          in: header
          name: Content-Type
          required: true
          description: This header defines the bodyRequest parameters.
        - schema:
            type: string
            default: Basic MDc4ZjA5YjkyNGMxNTYxYTAwMzA6ZmEyNDY2YWE0NDYyNDBjNDNiMzE=
          in: header
          name: Authorization
          required: true
          description: 'This string is your site_ID:API_key encoded in Base64. For results to appear in your dashboard, be sure to replace the string with your own encoded site_ID:API_key, or replace the authorization header itself with this curl call: `-u site_ID:API_KEY`.'
      tags:
        - Create and Delete a Person's Device
  '/customers/{id}/suppress':
    parameters:
      - schema:
          type: string
          default: '6'
        name: id
        in: path
        required: true
        description: The unique identifier for the customer. **Be sure to replace this value in the "Try It" section.
    post:
      summary: Supress a Person
      responses: {}
      operationId: post-Persons-id-suppress
      tags:
        - Supress a Person
      description: |-
        Supress a Person.

        To suppress a profile id in Customer.io from your server side code, you can `POST` to the suppress resource for a given profile ID. If we receive further API event/identify calls for the same profile ID, we’ll notice the id is suppressed and ignore the received API calls.

        In addition to suppressing the profile ID *we will also delete the user profile from Customer.io* the same way we would when calling the identify endpoint with the `DELETE` method.

        <!-- theme: danger -->

        >
        >WARNING: This API call will NOT add anyone’s email address to the global suppression list for your account. Instead, it will delete the user’s profile AND cause us to ignore future API calls that attempt to create a new profile with the same profile id. If you need to suppress deliveries for a particular *email address*, please reach out to our support team or your email admin.
      parameters:
        - schema:
            type: string
            default: Basic MDc4ZjA5YjkyNGMxNTYxYTAwMzA6ZmEyNDY2YWE0NDYyNDBjNDNiMzE=
          in: header
          description: 'This string is your site_ID:API_key encoded in Base64. For results to appear in your dashboard, be sure to replace the string with your own encoded site_ID:API_key, or replace the authorization header itself with this curl call: `-u site_ID:API_KEY`.'
          name: Authorization
          required: true
        - schema:
            type: string
            default: application/x-www-form-urlencoded
          in: header
          name: Content-Type
          required: true
          description: This header defines the bodyRequest parameters.
  '/customers/{id}/unsuppress':
    parameters:
      - schema:
          type: string
          default: '6'
        name: id
        in: path
        required: true
        description: The unique identifier for the customer. **Be sure to replace this value in the "Try It" section.
    post:
      summary: Unsupress a Person
      responses: {}
      operationId: post-Persons-id-unsuppress
      tags:
        - Unsupress a Person
      description: |-
        Unsupress a Person.

        If you need to resume tracking a previously suppressed profile ID in Customer.io you can `POST` to the unsuppress resource for a previously suppressed profile ID.

        Following a call to unsuppress, identifies and events for a person will behave exactly as they would for a customer that we haven’t seen before. Identifying a person following an unsuppress will create an entirely new profile for them, with none of the history (messages, journeys, etc.) that might have existed for that ID prior to a suppress call.

        <!-- theme: danger -->
        >
        >**WARNING: This API call will NOT remove anyone’s email address from the global suppression list for your account.** Instead, it will reverse the effects of a SUPPRESS call (above) and cause us to allow future API calls that will create a new profile that uses a previously suppressed profile id. If you need to unsuppress deliveries for a particular *email address*, please reach out to our support team or your email admin.
      parameters:
        - schema:
            type: string
            default: Basic MDc4ZjA5YjkyNGMxNTYxYTAwMzA6ZmEyNDY2YWE0NDYyNDBjNDNiMzE=
          in: header
          name: Authorization
          description: 'This string is your site_ID:API_key encoded in Base64. For results to appear in your dashboard, be sure to replace the string with your own encoded site_ID:API_key, or replace the authorization header itself with this curl call: `-u site_ID:API_KEY`.'
          required: true
        - schema:
            type: string
            default: application/x-www-form-urlencoded
          in: header
          name: Content-Type
          required: true
          description: This header defines the bodyRequest parameters.
  '/customers/{id}/events':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: The unique identifier for the customer. **Be sure to replace this value in the "Try It" section.
    post:
      summary: Track a customer event.
      tags: []
      responses: {}
      operationId: post-customers-id-events
      description: |-
        Track a customer event.

        To send an event to Customer.io outside of the browser, say from your server side code, you can `POST` to the events resource for a given customer.

        #### Reserved Custom Data Parameters

        There are a few important values which, if sent with the events that trigger campaigns, will **override** those campaign settings. These are:

        1. Attachments
        2. `from_address`
        3. `recipient`
        4. `reply_to`

        <!-- theme: warning -->
        >
        >When using the Javascript snippet to track events you must call the Behavioral Tracking API call after previously identifying the user or else the event will not associate to the user’s profile.
      parameters:
        - schema:
            type: string
            default: application/x-www-form-urlencoded
          in: header
          name: Content-Type
          required: true
        - schema:
            type: string
            default: Basic MDc4ZjA5YjkyNGMxNTYxYTAwMzA6ZmEyNDY2YWE0NDYyNDBjNDNiMzE=
          in: header
          name: Authorization
          required: true
          description: 'This string is your site_ID:API_key encoded in Base64. For results to appear in your dashboard, be sure to replace the string with your own encoded site_ID:API_key, or replace the authorization header itself with this curl call: `-u site_ID:API_KEY`.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                event_name:
                  $ref: '#/components/schemas/event_name'
                type:
                  $ref: '#/components/schemas/type'
                'data[product]':
                  $ref: '#/components/schemas/data'
                'data[price]':
                  $ref: '#/components/schemas/data'
              required:
                - event_name
components:
  schemas:
    email:
      type: string
      title: email
      description: '**Recomended**: The email address of the user.'
      default: nathan.k.laux@gmail.com
      example: cool_email@host.com
    created_at:
      type: integer
      title: created_at
      description: |-
        **Recommended**: The UNIX timestamp from when the user was created in your system.

        This
      default: 1598656835
      example: 1598656835
    first_name:
      type: string
      title: first_name
      description: The first name of the Person.
      default: enter_name
      example: Bobby
    attributes:
      anyOf:
        - default: First Name
          description: First Name
          example: Bobby
        - description: Type of Plan
          example: plan=Basic
          default: 'plan={plan}'
      description: Properties stored per Person in your account.
      type: string
    device_id:
      title: device_id
      type: string
      description: '    The unique token for the user device.'
    platform:
      type: string
      title: platform
      description: The platform for the user device. Allowed values are 'ios' and 'android'.
      default: my_ios_device_id
      example: '1'
    last_used:
      type: number
      title: last_used
      description: UNIX timestamp representing the last used time for the device. If this is not included we default to the time of the device identify.
      default: 1514764800
    event_name:
      type:
        - string
        - number
      title: event_name
      description: The name of the event to track.
      default: purchase
      example: 'Purchase, Purchased, '
    type:
      title: type
      type: string
      description: Used to change event type. For Page View events set to "page".
    data:
      anyOf:
        - example: Product
          default: Socks
          description: Product or Price
      description: Custom data to include with the event.
      x-examples: {}
      type:
        - string
        - number
  securitySchemes: {}
tags:
  - name: Create and Delete a Person
  - name: Create and Delete a Person's Device
  - name: Supress a Person
  - name: Unsupress a Person
